AGGREGATE FUNCTIONS AND GROUPING DATA

In [1]:
import sqlite3

db = sqlite3.connect('DataScience.db')
cursor =  db.cursor()

cursor.execute('''create table if not exists sales (
    id integer primary key,
    product text,
    amount integer,
    date date
)''')

cursor.executemany('insert into sales (product, amount, date) values (?,?,?)',
[('apple', 10, '2024-03-10'),
('banana', 20, '2024-03-10'),
('orange', 15, '2024-03-9'),
('mango', 30, '2024-03-8')])

db.commit()

In [2]:
cursor.execute('select * from sales')
rows = cursor.fetchall()
print("product | amount | date")
for i in rows:
    print(f'{i[0]}       | {i[1]} | {i[2]}')

product | amount | date
1       | strawberry | 10
2       | banana | 20
3       | orange | 15
4       | mango | 30
5       | apple | 10
6       | banana | 20
7       | orange | 15
8       | mango | 30

Aggregate functions

In [15]:
cursor.execute('select sum(amount) from sales')
print('total sales amount: ', cursor.fetchone()[0])

total sales amount:  150

In [16]:
cursor.execute('select avg(amount) from sales')
print('Average sales amount: ', cursor.fetchone()[0])

Average sales amount:  18.75

In [17]:
cursor.execute('select max(amount) from sales')
print('Maximum sales amount: ', cursor.fetchone()[0])

Maximum sales amount:  30

In [18]:
cursor.execute('select min(amount) from sales')
print('Minimum sales amount: ', cursor.fetchone()[0])

Minimum sales amount:  10

In [20]:
cursor.execute('select count(*) from sales')
print('Number of sales records: ', cursor.fetchone()[0])

Number of sales records:  8

Grouping Data

In [28]:
cursor.execute('select product, sum(amount) as total_sales from sales group by product')
print("Product | Total_sales")
for i in cursor.fetchall():
    print(f'{i[0]}  |  {i[1]}')

Product | Total_sales
apple  |  20
banana  |  40
mango  |  60
orange  |  30

In [38]:
cursor.execute('select product, date, sum(amount) as Total_sales from sales group by date')
print('product | date     | Total_sale')
for i in cursor.fetchall():
    print(f'{i[0]}   | {i[1]} | {i[2]}')

product | date     | Total_sale
apple   | 2024-03-10 | 60
mango   | 2024-03-8 | 60
orange   | 2024-03-9 | 30