TABLES AND FIELDS

In [1]:
import sqlite3
db = sqlite3.connect('DataScience.db')
cursor = db.cursor()

In [3]:
#fetching all table names present in DataScience.db
cursor.execute("select name from sqlite_master where type='table';")

In [4]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

students
numbers
sales

In [5]:
#fetch table fields and data types
table_name = 'students'
cursor.execute(f"PRAGMA table_info({table_name});")

In [6]:
fields_info = cursor.fetchall()
for field in fields_info:
    field_name = field[1]
    data_type = field[2]
    print(f"Field: {field_name}, Data Type: {data_type}")

Field: id, Data Type: INTEGER
Field: name, Data Type: TEXT
Field: age, Data Type: INTEGER
Field: grade, Data Type: REAL

In [7]:
t2 = 'numbers'
cursor.execute(f"pragma table_info({t2});")
f2_info = cursor.fetchall()
for f2 in f2_info:
    t2_fieldname = f2[1]
    t2_datatype = f2[2]
    print(f"field: {t2_fieldname}, data type: {t2_datatype}")

field: id, data type: INTEGER
field: num1, data type: INTEGER
field: num2, data type: INTEGER

In [9]:
# t3 = 'sales'
cursor.execute(f"pragma table_info('sales')")
f3_info = cursor.fetchall()
for f3 in f3_info:
    t3_fieldname = f3[1]
    t3_datatype = f3[2]
    print(f"field: {t3_fieldname}, datatype: {t3_datatype}")

field: id, datatype: INTEGER
field: product, datatype: TEXT
field: amount, datatype: INTEGER
field: date, datatype: date
field: total_sales, datatype: INTEGER
field: TotalSales, datatype: INTEGER
field: TotalSale, datatype: INTEGER
field: total, datatype: INTEGER