JOINS

In [2]:
import sqlite3
db = sqlite3.connect('DataScience.db')
cursor = db.cursor()

In [4]:
cursor.execute('''create table employees (id integer primary key, name text, dept_id integer)''')
cursor.execute('''create table departments (id integer primary key, name text)''')

OperationalError: table employees already exists

In [7]:
#insert values
cursor.execute("insert into employees (name, dept_id) values (?, ?)", ('john', 1))
cursor.execute("insert into employees (name, dept_id) values (?, ?)", ('alice',2))
cursor.execute("insert into employees (name, dept_id) values (?,?)", ('sara', 3))

cursor.execute("insert into departments (name) values (?)", ('HR',))
cursor.execute("insert into departments (name) values (?)", ('IT',))

In [8]:
#INNER JOIN
cursor.execute('''select employees.name, departments.name from employees INNER JOIN departments on employees.dept_id = departments.id''')
print("Inner Join: ", cursor.fetchall())

Inner Join:  [('john', 'HR'), ('john', 'HR'), ('john', 'HR'), ('alice', 'IT'), ('john', 'HR'), ('alice', 'IT')]

In [10]:
#LEFT JOIN
cursor.execute('''select employees.name, departments.name from employees LEFT JOIN departments on employees.dept_id =  departments.id''')
print("\n LEFT JOIN: ", cursor.fetchall())

 LEFT JOIN:  [('john', 'HR'), ('john', 'HR'), ('john', 'HR'), ('alice', 'IT'), ('sara', None), ('john', 'HR'), ('alice', 'IT'), ('sara', None)]

In [11]:
#RIGHT JOIN
cursor.execute('''select employees.name, departments.name from employees RIGHT JOIN departments on employees.dept_id = departments.id''') 
print("RIGHT JOIN: ", cursor.fetchall())

RIGHT JOIN:  [('john', 'HR'), ('john', 'HR'), ('john', 'HR'), ('alice', 'IT'), ('john', 'HR'), ('alice', 'IT')]

In [13]:
#Full OUTER JOIN
cursor.execute('''select employees.name, departments.name from employees
                left join departments on employees.dept_id = departments.id
                UNION
                select employees.name, departments.name from employees
                RIGHT JOIN departments on employees.dept_id = departments.id''') 
print("FULL OUTER JOIN: ", cursor.fetchall())

FULL OUTER JOIN:  [('alice', 'IT'), ('john', 'HR'), ('sara', None)]